@model AngularCRUD_EntityFramework.Models.Department

@{
    ViewBag.Title = "Details";
}

<div ng-controller="empController2">
    <div ng-init="GetSingleDepartment()">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="Name">Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="department.Name" id="Name" name="Name" type="text" value="{{department.Name}}" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Code">Code</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="department.Code" id="Code" name="Code" type="text" value="{{department.Code}}" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Code" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" ng-click="UpdateDepartment(department)" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>